<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sharding.complex.infrastructure.dal.mysql.mapper.OrderMapper">
    <resultMap type="com.example.sharding.complex.infrastructure.dal.mysql.dataobject.OrderDO" id="orderMap">
        <result property="id" column="id"/>
        <result property="payTime" column="pay_time"/>
        <result property="shipTime" column="ship_time"/>
        <result property="endTime" column="end_time"/>
        <result property="userId" column="user_id"/>
        <result property="sellerId" column="seller_id"/>
        <result property="storeId" column="store_id"/>
        <result property="totalItemsAmount" column="total_items_amount"/>
        <result property="discountAmount" column="discount_amount"/>
        <result property="deliveryAmount" column="delivery_amount"/>
        <result property="totalAmount" column="total_amount"/>
        <result property="deliveryAddressId" column="delivery_address_id"/>
        <result property="status" column="status"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="deleted" column="is_deleted"/>
     </resultMap>
    <select id="findById"  resultMap="orderMap">
        select * from t_order
    </select>
    <select id="getByUserId"  resultMap="orderMap">
        select * from t_order where user_id = #{userId}
    </select>
</mapper>
